<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.mapper.ByungriMapper">
 	
 	<!-- 병원 -->
 	
 	<select	id="getByungrihList" 
 			resultType="com.cafe24.oneteammds.vo.Byungrih">
 		SELECT 
 			ptrCode
 		  , hospitalId
 		  , patientId
 		  , ptName
 		  , ptCode
 		  , ptrValue
 		  , pDoctor
 		  , ptdTime
 		  , adminId
 		  , ptrDate
		FROM 
			byungrih
 	</select>
 	<select id="getByungrihById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.vo.Byungrih">
		SELECT 
 			ptrCode
 		  , hospitalId
 		  , patientId
 		  , ptName
 		  , ptCode
 		  , ptrValue
 		  , pDoctor
 		  , ptdTime
 		  , adminId
 		  , ptrDate
		FROM 
			byungrih
		where
			patientId = #{patientId}
 	</select>
 	<insert id="getByungriRegist"
 		    parameterType="com.cafe24.oneteammds.vo.Byungrih">
 	REPLACE INTO 
 			byungri
		SELECT
			ptrCode
 		  , hospitalId
 		  , patientId
 		  , ptName
 		  , ptCode
 		  , ptrValue
 		  , pDoctor
 		  , ptdTime
 		  , adminId
 		  , ptrDate
		FROM 
			byungrih
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 시스템DB -->
	<select id="getByungridbList"
			resultType="com.cafe24.oneteammds.vo.Byungri">
		SELECT 
 			ptrCode
 		  , hospitalId
 		  , patientId
 		  , ptName
 		  , ptCode
 		  , ptrValue
 		  , pDoctor
 		  , ptdTime
 		  , adminId
 		  , ptrDate
		FROM 
			byungri
	</select>
	
	
	
	<select id="getByungriSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.vo.Byungri">
	  	SELECT
			 ptrCode
			,hospitalId
			,patientId
			,ptName
			,ptCode
			,ptrValue
			,pDoctor
			,ptdTime
			,adminId
			,ptrDate		
		FROM
			 byungrih
		<if test="sv != null and sv neq ''.toString()">
			WHERE 
				${sk} Like CONCAT('%',#{sv},'%')		
		</if>
	
	</select>
	
	<delete id="delByungri" parameterType="String">
		DELETE
		FROM byungri
		WHERE
		ptrCode = #{ptrCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
 </mapper>