<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.cafe24.oneteammds.mapper.HospitalMapper">
 	<select id="getHospitaldbList" 
 			resultType="com.cafe24.oneteammds.vo.Hospital">
 		SELECT 
 			hospitalId
 			, hospitalPw
 			, hName
 			, admId
 			, hrDate
		FROM 
			hospital
	</select>		
</mapper>