<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">
	 <!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
		<br><h4 style="text-align:center">A병원 환자 전원 거부 발신 내역</h4>
			<div class="container-fluid"></div>
	<!-- **************윗상단 메인 메뉴END ************** -->
	<!--************메인 컨텐트 ************ -->		
	   	</div>
	   	  <!-- Form Elements -->
			<div class="col-lg-13">
				<div class="block margin-bottom-sm">
                 <div class="table-responsive"> 
                 	<table class="table">
                      <thead>
                        <tr>
							<th>전원 거부 병원 코드</th>
							<th>전원 요청 병원코드</th>
							<th>환자 고유번호</th>
							<th>발송 일자</th>
							<th>거부 사유</th>
						</tr>
                      </thead>
                      <tbody>
						<tr>
						    <td>A 병원 코드</td>
							<td>B 병원 코드</td>
							<td>김춘식 환자 코드</td>
							<td>2019-01-23</td>
							<td>의료 기기 부족으로 치료 불가</td>
						</tr>
						<tr>
						    <td>C 병원 코드</td>
							<td>A 병원 코드</td>
							<td>이한솔 환자 코드</td>
							<td>2019-01-17</td>
							<td>병실 부족</td>
						</tr>
						</tbody>
                    </table>
                  <div class="line"></div>
                      <div class="form-group row">
                        <div class="col-sm-9 ml-auto">
                        <br><br><br>
                         <br><br><br>
                        </div>
                     </div>
              	</div>
              </div>
         </div>
	</div>
	<!--************메인 컨텐트 END************ -->	
	
</th:block>
</html>